@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color {
  @apply text-cyan-500;
}

.bg-color {
  @apply bg-gradient-to-tr from-cyan-400 to-cyan-700;
}

.vertical-rl {
  webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}


.gamil-link::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}