@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color {
  @apply text-cyan-500;
}

.bg-color {
  @apply bg-gradient-to-tr from-cyan-400 to-cyan-700;
}

.about-icon {
  @apply flex items-center gap-3 text-info hover:-translate-y-1 cursor-pointer duration-75 delay-75 transition-all;
}

.vertical-rl {
  webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.gamil-link::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}

.line-arrow {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.line-arrow::after {
  content: "";
  display: block;
  height: 1px;
  width: 130px;
  background-color: #eeee;
}
